@model PetDto 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row pt-2">
        <div class="card mb-3 p-4">
            <div class="row g-0">
                <div class="col-md-6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://www.dunyabulteni.net/images/resize/100/656x400/haberler/haber/2014/06/26/kedi11.jpg" class="d-block w-100" alt="..." style="max-height:500px;">
                            </div>
                            <div class="carousel-item">
                                <img src="https://i2.cnnturk.com/i/cnnturk/75/800x400/5e79c2d0bf21441b008b45b3" class="d-block w-100" alt="..." style="max-height:500px;">
                            </div>
                            <div class="carousel-item">
                                <img src="https://static.daktilo.com/sites/71/uploads/2020/07/03/5ca1c5ee45d2a029641856ae.jpg" class="d-block w-100" alt="..." style="max-height:500px;">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>

                <div class="col-md">
                    <div class="card-body">
                        <div class="card-header">
                            <h4 class="card-title">Pet Hakkında</h4>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Adı: @Model.PetName</li>
                            <li class="list-group-item">Yaş: @Model.PetBirthDate</li>
                            <li class="list-group-item">Cins: @Model.Genus</li>
                            <li class="list-group-item">Cinsiyet: @Model.PetGender.GetDisplayName()</li>
                            <li class="list-group-item">Aşılar: @Model.PetVaccineInfo</li>
                            <li class="list-group-item">Kilo: @Model.PetWeight kg</li>
                            <li class="list-group-item">Tuvalet Eğitimi:</li>
                        </ul>
                        <br />
                        <p class="card-text">   <strong>NOT:</strong>   Bu küçük dostumuzu sahiplenmek istiyorsanız barınağımıza gelip sahiplenme kriterlerine uygun olup olmadığınız hakkında bizle görüşmeniz gerekmektedir. SAHİPLEN butonuna tıklayarak randevu alabilirsiniz.</p>

                        <div class="row align-items-center justify-content-center">
                            <button type="submit" class="btn btn-primary w-25 mr-2">SAHİPLEN</button>
                            <button type="submit" class="btn btn-primary w-25">BAĞIŞ YAP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

