@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<PetDto>
@{

    List<GenusDto> Genusses = new List<GenusDto>();
    if (ViewBag.Categories != null)
    {
        Genusses = ViewBag.Categories;
    }
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid row">
    <!--Filtre Bölümü-->
    <div class="col-sm-3 filter-row">
        <!--Arama Çubuğu-->
        <div class="input-group mb-3">
            <form class="w-100">
                <div class="input-group-append">
                    <input type="text" class="form-control" placeholder="Arama Yap" name="searchTerm" aria-label="Arama Yap" aria-describedby="basic-addon2">
                    <button type="submit" class="btn btn-outline-secondary">Ara</button>
                </div>
            </form>
        </div>

        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h4 class="mb-0">
                        <i class="fa fa-filter"></i> Filtrele
                    </h4>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="myList">
                        @foreach (var item in Genusses)
                        {
                            <li class="list-group-item">
                                <h5> <a href="?GenusId=@item.GenusId" style="color:#212529;">@item.GenusName</a> </h5>
                                <ul class="list-group list-group-flush">
                                    @foreach (var species in item.SpeciesDtos)
                                    {
                                        <li class="list-group-item"> <a href="?GenusId=@item.GenusId&SpeciesId=@species.SpeciesId" style="color: #bd2130;">@species.SpeciesName</a> </li>

                                    }
                                </ul>
                            </li>
                        }



                    </ul>

                </div>
            </div>
        </div>
    </div>

    <!--Barınaktaki Hayvanlar Card Sistemi-->
    <div class="col-sm row filter-row">


        @if (Model.Count == 0)
        {
            <div class="col-sm-12 mb-4">
                <div class="alert-danger p-4 text-center my-2">Burada henüz bir şey yok :(</div>
            </div>
        }
        else
        {

            @foreach (var item in Model)
            {
                <div class="col-sm-4 mb-4 pet-container">
                    <div class="card shadow-lg h-100">
                        <img src="@item.Images.FirstOrDefault()" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@item.PetName</h5>
                            <p class="card-text">@item.PetAdditionInfo</p>
                        </div>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item font-weight-bold">Cinsiyet: @item.PetGender.GetDisplayName()</li>
                            <li class="list-group-item font-weight-bold">Yaş: @(Convert.ToInt32(DateTime.Now.Subtract(item.PetBirthDate).Days / (365.25 / 12)))</li>
                            <a asp-action="Details" asp-route-id="@item.PetId" class="btn btn-danger btn-block">Detaylar</a>
                        </ul>
                    </div>
                </div>
            }


            <div class="btn-toolbar mt-1 mb-3 col-sm-12 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                @Html.PagedListPager(Model,
                  page => Url.Action("Index", new { p = page }),
                  new X.PagedList.Web.Common.PagedListRenderOptionsBase
                       {
                  DisplayLinkToIndividualPages = true,
                  DisplayPageCountAndCurrentLocation = false,
                  MaximumPageNumbersToDisplay = 10,
                  LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" },
                 })
            </div>
        }


    </div>
</div>

