@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<PetDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid row">
    <!--Filtre Bölümü-->
    <div class="col-sm-3 filter-row">
        <!--Arama Çubuğu-->
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Arama Yap" aria-label="Arama Yap" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Ara</button>
            </div>
        </div>

        <!--Akordiyon Filtreleme-->
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link" data-toggle="collapse" id="collapseFilter" data-target="#collapseOne"><i class="fa fa-plus"></i> CİNSLER</button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Kedi
                            </label>
                        </div>
                        <div class="form-check  border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Köpek
                            </label>
                        </div>
                        <div class="form-check  border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Kuş
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus"></i> ######</button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus"></i> ######</button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="form-check border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check border-bottom p-1 ml-2">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Barınaktaki Hayvanlar Card Sistemi-->
    <div class="col-sm filter-row">

        <div class="row  g-4">
            @if (Model.Count == 0)
            {
                <div class="col-sm-12 justify-content-center">
                    <div class="alert-info p-4 text-center my-2">Burada henüz bir şey yok :(</div>
                </div>
            }
            else
            {

                @foreach (var item in Model)
                {
                    <div class="col-sm-4 mb-4">
                        <div class="card h-100 shadow-lg">
                            <img src="@item.Images.FirstOrDefault()" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.PetName</h5>
                                <p class="card-text">@item.PetAdditionInfo</p>
                            </div>

                            <ul class="list-group list-group-flush">
                                <li class="list-group-item font-weight-bold">Cinsiyet: @item.PetGender.GetDisplayName()</li>
                                <li class="list-group-item font-weight-bold">Yaş: @(Convert.ToInt32(DateTime.Now.Subtract(item.PetBirthDate).Days / (365.25 / 12)))</li>
                                <a asp-action="Details" asp-route-id="@item.PetId" class="btn btn-danger btn-block">Detaylar</a>
                            </ul>
                        </div>
                    </div>
                }
            }

        </div>


        <div class="btn-toolbar mt-1 mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            @Html.PagedListPager(Model,
              page => Url.Action("Index", new { p = page }),
              new X.PagedList.Web.Common.PagedListRenderOptionsBase
                   {
              DisplayLinkToIndividualPages = true,
              DisplayPageCountAndCurrentLocation = false,
              MaximumPageNumbersToDisplay = 10,
              LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
             })
        </div>

    </div>
</div>

