@using X.PagedList.Mvc.Core;
@using X.PagedList;

@model IPagedList<PetDto>

@{
    ViewData["Title"] = "Hayvanlar";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-primary">
            <div class="row">
                <div class="col-sm-10">
                    <h4 class="card-title ">Hayvanlar</h4>
                    <p class="card-category">Buradan sistemde kayıtlı hayvanları yönetebilirsiniz.</p>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-success pull-right" asp-action="Add">Yeni Hayvan Ekle</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive table-hover">
                <table class="table">
                    <thead class=" text-info">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>İsim</th>
                            <th>
                                Tür
                            </th>
                            <th>
                                Cins
                            </th>
                            <th>
                                Cinsiyet
                            </th>
                            <th>Doğum Tarihi</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.PetId</td>
                                <td>@item.PetName</td>
                                <td>@item.Genus</td>
                                <td>@item.Genus</td>
                                <td>@item.PetGender.GetDisplayName()</td>
                                <td>@item.PetBirthDate.ToString("dd-MM-yyyy")</td>
                                <td>
                                    <a class="btn btn-warning" asp-action="Update" asp-route-id="@item.PetId" asp-controller="Pets"><i class="fas fa-edit mr-2"></i>Düzenle</a>
                                    <a class="btn btn-danger" onclick="return confirm('Silmek istediğinizden emin misiniz?');" asp-action="Delete" asp-controller="Pets" asp-route-id="@item.PetId"><i class="fas fa-trash-alt mr-2"></i>Sil</a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>


        <div class="btn-toolbar mt-1 mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
            @Html.PagedListPager(Model,
              page => Url.Action("Index", new { p = page }),
              new X.PagedList.Web.Common.PagedListRenderOptionsBase
                   {
              DisplayLinkToIndividualPages = true,
              DisplayPageCountAndCurrentLocation = false,
              MaximumPageNumbersToDisplay = 10,
              LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
             })
        </div>
    </div>
</div>


